<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>654237016759-f9d16tltr86mlmsieff6ql7k7ii7p0o4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.654237016759-f9d16tltr86mlmsieff6ql7k7ii7p0o4</string>
	<key>API_KEY</key>
	<string>AIzaSyDlFfurDysrKNJHhH-JAMuEzH1RNsAxydw</string>
	<key>GCM_SENDER_ID</key>
	<string>654237016759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myapp</string>
	<key>PROJECT_ID</key>
	<string>cs152-ad47d</string>
	<key>STORAGE_BUCKET</key>
	<string>cs152-ad47d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654237016759:ios:df22ebedafef81e5</string>
	<key>DATABASE_URL</key>
	<string>https://cs152-ad47d.firebaseio.com</string>
</dict>
</plist>